resources/binaries/darwin/sherpa-onnx-online-websocket-server filter=lfs diff=lfs merge=lfs -text
resources/binaries/win32/x64/sherpa-onnx-online-websocket-server.exe filter=lfs diff=lfs merge=lfs -text
resources/models/decoder-epoch-99-avg-1.onnx filter=lfs diff=lfs merge=lfs -text
resources/models/encoder-epoch-99-avg-1.onnx filter=lfs diff=lfs merge=lfs -text
resources/models/joiner-epoch-99-avg-1.onnx filter=lfs diff=lfs merge=lfs -text
resources/models/tokens.txt filter=lfs diff=lfs merge=lfs -text
